table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  } 
.table2{
  border: none;
  height: 100%;
}